{% extends "verbena/research/res_base.html" %}
{% load i18n %}
{% block head_title %}
	{{ object.title }}
{% endblock %}
{% block content_title %}
	{{ object.title }}
{% endblock %}
{% block main_article %}
	<img src="{{ object.portrait.get_display_url }}" />
	<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
	<dl>
		<dt>title:</dt><dd>{{ object.title }}</dd>
	</dl>
	{% if request.user.is_authenticated %}
		{% if perms.verbena.change_grant %}
			<a href="{{ object.get_absolute_url }}/edit">Edit Project</a>
		{% endif %}
	{% endif %}
	<a href="{% url res_home %}">Back to Research and Resources</a>
{% endblock %}
