{% extends "verbena/research/res_base.html" %}
{% load nav_build %}
{% load i18n %}

{% block head_title %}
	Research and Resources 
{% endblock %}
{% block content_title %}
	{% trans "Research and Resources" %}
{% endblock %}

{% block main_content %}
	{% block main_article %}
		{% chunk "resourceheader" %}
			<article class="resource_back">
				<article class="resource_dot">
				{% for res in object_list %}
					<div class="resource">
						<h1><a href="{{ res.get_absolute_url }}">{{ res.title }}</a></h1>
						<article>
							{{ res.about|safe|truncatewords_html:50 }}
						</article>
					</div>
				{% endfor %}
				<div class='resourcesidebar'>
					{% colchunk "resourcesidebar" %}
				</div>
				</article>
			</article>
		<a href="{% url res_add %}">{% trans "Apply for a project" %}</a>
	{% endblock %}
{% endblock %}
