{% extends "verbena/members/mem_base.html" %}
{% block head_title %}
	{{ object.member.user.username }}
{% endblock %}
	{% block content_title %}<a href="{{ object.get_absolute_url }}">{{	object.member.user.username	}}</a>{% endblock %}
{% block main_article %}
	<dl>
		<dt>Username:</dt><dd>{{ object.member.user.username }}</dd>
		<dt>Name:</dt><dd>{{ object.member.user.last_name }}, {{ object.member.user.first_name }}</dd>
		<dt>email:</dt><dd>{{ object.member.user.email }}</dd>
		<dt>Faculty of Study:</dt><dd>{{ object.in_faculty }}</dd>
		<dt>Phone Number:</dt><dd>{{ object.phone }}</dd>
	</dl>
{% if is_me %}
	<p> it's you, </p><a href='{% url faculty_edit object.member.slug %}'>edit?</a>
{% endif %}
{% endblock %}
