{% extends "verbena/members/mem_base.html" %}
{% block head_title %}
	{{ object.profile.user.username }}
{% endblock %}

{% block content_title %}<a href="{{ object.get_absolute_url }}">{{ object.member.user.username	}}</a>{% endblock %}
{% block main_article %}
	<a href="{% url member_avatar_edit %}">
	<img class='member_avatar' src="{{ object.avatar.get_display_url }}" 
	alt='{{ object.avatar.title }}' /></a>
	<dl>
		<dt>Username:</dt><dd>{{ object.user.username }}</dd>
		<dt>Name:</dt><dd>{{ object.user.last_name }}, {{ object.profile.user.first_name }}</dd>
		<dt>email:</dt><dd>{{ object.user.email }}</dd>
	</dl>
{% endblock %}

