{% extends "verbena/members/mem_base.html" %}

{% load i18n %}
{% block head_title %}
	General Members
{% endblock %}
{% block body %}
	<h2>All Individual Members</h2>
	<ul class="members_list">
		{% for member in object_list %}
			<li><img src="{{ member.avatar.get_thumbnail_url }}" 
			alt="{{	member.avatar.title }} "/><b><a href="{{ member.get_absolute_url }}">{{ member.user.username }}
			{{ member.user.first_name }}
			{{ member.user.last_name }}</a><b></li>
		{% endfor %}
	</ul>
{% endblock %}

