{% extends "flatpages/default.html" %}

{% load i18n %}

{% block section_style %}
	<link rel="stylesheet" href="{{ STATIC_URL }}verbena/css/involved.css" />
{% endblock %}

{% block main_navsub %}
	<ul>
		<li><a href="{% url get-involved %}">{% trans "Get Involved" %}</a></li>
		<li><a href="{% url student_list %}">{% trans "Students" %}</a></li>
		<li><a href="{% url faculty_list %}">{% trans "Faculty" %}</a></li>
		<li><a href="{% url org_home %}">{% trans "Organizations" %}</a></li>
	</ul>
{% endblock %}

{% block main_article %}
  {{ flatpage.content }}

<ul class="action_options">
	{% if user.is_authenticated %}
		<li><a href="{% url student_add %}">{% trans "Sign up as a student" %}</a></li>
		<li><a href="{% url faculty_add %}">{% trans "Sign up as a faculty member" %}</a></li>
		<li><a href="{% url org_add %}">{% trans "Sign up as an organization" %}</a></li>
		<li><a href="{% url act_add %}">{% trans "Start an Action Group" %}</a></li>
		<li><a href="{% url arx_add %}">{% trans "Start an Action Research Project" %}</a></li>
		<li><a href="{% url arx_home %}">{% trans "Join an Action Research Project" %}</a></li>
	{% else %}
		<li><a href="{% url acct_signup %}">{% trans "I'm none of these, just sign me up!" %}</a></li>
	{% endif %}
</ul>

{% endblock %}
