{% extends "verbena/act_group/act_base.html" %}
{% load oembed %}
{% load humanize %}
{% block head_title %}
	{{ object.title }}
{% endblock %}

	{% block content_title %}<a href="{{ object.get_absolute_url }}">{{	object.name }}</a>{% endblock %}

{% block main_article %}
  {% if object.portrait %}
    <img src="{{ object.portrait.get_display_url }}" alt="{{ object.portrait.title }}" />
  {% endif %}
	<p class='about'>
		{% oembed %}
			{{ object.about|safe }}
		{% endoembed %}
	</p>
	<dl>
		<dt>title:</dt><dd>{{ object.title }}</dd>
		<dt>leader:</dt><dd><a href="{% url member_view object.leader.slug %}">{{ object.leader }}</a></dd>
		<dt>supporters:</dt>
		<dd>
			<ul>
			{% for supporter in object.supporters.all %}
				<li><b>{{ supporter.user.username }}</b></li>
			{% endfor %}
			</ul>
		</dd>
		<dt>location:</dt><dd>{{ object.location }}</dd>
		<dt>events:</dt>
		<dd>
			<ul class='events'>
				{% for event in object.events.all %}
					<li>
						<h3>{{ event.title }}</h3>
						<b>{{ event.start_date|naturalday }}<b> to 
						<b>{{ event.end_date|naturalday	}}</b>
						<article>
							{{ event.description|safe }}
						</article>
					</li>
				{% endfor %}
			</ul>
		</dd>
	</dl>
	{% if is_in %}
		<a href="{{ object.get_absolute_url }}/leave">Leave group</a>
	{% else %}
		{% if user.is_authenticated %}
		<a href="{{ object.get_absolute_url }}/join">Join group</a>
		{% endif %}
	{% endif %}
	{% if request.user.is_authenticated %}
		{% if perms.verbena.change_organization %}
			<a href="{% url add_event object.slug %}">Add an Event</a>
			<a href="{% url act_edit object.slug %}">Edit Action Groups</a>
		{% endif %}
	{% endif %}
	<a href="{% url act_home %}">Back to Action Groups</a>
{% endblock %}
