{% extends "verbena/act_group/act_base.html" %}
{% load nav_build %}

{% block head_title %}
	Action Groups
{% endblock %}

{% block main_content %}
<section>
<article class="content_post ag_post">
	<header id="intro">
		<h1>Action Groups</h1>
	</header>
	{% chunk "actiongroup" %}
	{% for ag in object_list %}
	<article class="content_back">
		<article class="content_dot">
	<div class='act_avatar'>
		<a href="{{ ag.get_absolute_url }}"><img src="{{ ag.portrait.get_thumbnail_url }}" alt="{{ ag.portrait.title }}" /></a>
	</div>

			<div>
			<header>
				<h1><span class="title">{{ ag.title }}</span></h1>
			</header>
			{{ ag.about }}
			</div>
		</article>
	</article>
	{% endfor %}
	<a href="{% url act_add %}">Add an Action Group</a>
</article>
</section>
{% endblock %}
