{% extends "verbena/act_group/act_base.html" %}
{% block head_title %}
	{{ object.title }}
{% endblock %}
	<h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
	<dl>
		<dt>title:</dt><dd>{{ object.title }}</dd>
		<dt>leader:</dt><dd><a href="{% url profile_detail object.leader.slug %}">{{ object.leader }}</a></dd>
		<dt>location:</dt><dd>{{ object.location }}</dd>
	</dl>
	{# if request.user.is_in? #}
		<a href="{{ object.get_absolute_url }}/leave">Leave group</a>
	{# else #}
		<a href="{{ object.get_absolute_url }}/join">Join group</a>
	{# endif #}
	{% if request.user.is_authenticated %}
		{% if perms.verbena.change_organization %}
			<a href="{{ object.get_absolute_url }}/edit">Edit Organization</a>
		{% endif %}
	{% endif %}
	<a href="{% url act_edit object.slug %}">Back to organizations</a>
