{% load i18n %}
<form action="/search/" method='get' class='search_form'>
	<input type='search' placeholder="{{ searchbox.prompt }}" id="bar_q" name="q" />
	<input name="models" class='sb_hidden' type='checkbox' value="verbena.actiongroup" id="id_models_0" checked='checked' />
	<input name="models" class='sb_hidden' type='checkbox' value="verbena.faculty" id="id_models_1" checked='checked' />  
	<input name="models" class='sb_hidden' type='checkbox' value="verbena.organization" id="id_models_3"  checked='checked' />
	<input name="models" class='sb_hidden' type='checkbox' value="verbena.project" id="id_models_4" checked='checked' />
	<input name="models" class='sb_hidden' type='checkbox' value="verbena.student"
			id="id_models_5" checked='checked' />
	<input name="models" class='sb_hidden' type='checkbox' value="verbena.event"
			id="id_models_6" checked='checked' />
	<input class='sb_submit' type='submit' value="{% trans "go" %}" />
</form>
