{% load i18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<title>{% block head_title_base %}
			{% block head_title %}{% endblock %} : 
			{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}
		{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- APPLE ICONS TODO -->
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="shortcut icon" href="/favicon.ico">

		<link rel="stylesheet" href="{{ STATIC_URL }}verbena/css/sfpirg.css" />
		<!-- django-assets PROD -->
		{% assets "js_top" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
		{% assets "css_all" %}
			<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %}
		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		<div id="site_wide_announcements">
				<ul>
						{% for announcement in site_wide_announcements %}
						<li>
								<a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
								<a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
						</li>
						{% endfor %}
				</ul>
		</div>	
	</div>
		<header>
			{% block header %}{% endblock %}
		</header>
		<aside class="sign_in">
			{% block sign_in %}{% endblock %}
		</aside>
		<aside class="search">
			{% block search_box %}{% endblock %}
		</aside>
		<nav>
			<nav id="main_nav">
				{% block main_nav %}
				{% endblock %}
			</nav>
			<nav id="main_navsub">
				{% block main_navsub %}
				{% endblock %}
			</nav>
		</nav>
		<aside class="contact_box">
			{% block contact_box %}
			{% endblock %}
		</aside>
		<aside "left_box">
			<section class='calendar'>
				{% block calendar %}
				{% endblock %}
			</section>
			<section class='archives'>
				{% block archives %}
				{% endblock %}
			</section>
		</aside>
		<article id="content" class="{% block article_class %}{% endblock %}">
			<section id="main_content">
			{% block main_content %}
			{% endblock %}
			</section>
		</article>
		<footer>
			{% block footer %}
			{% endblock %}
		</footer>
	</body>
</html>

