{% extends "site_base.html" %}

{% load i18n %}
{% load slideshow %}
{% load easy_maps_tags %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block content_class %}home{% endblock %}


{% block main_content %}
{% slideshow "frontpage" %}
<section>
<article class="content_post">
  <header id="intro">
    <h1>{% block intro_title %}SFPIRG{% endblock %}</h1>
  </header>
  <article class="content_back">
    <article class="content_dot">
      <div>
      <header>
        <h1><span class="title">{% block content_title %}{% trans "SFPIRG Home page" %}{% endblock %}</span></h1>
				{% easy_map "Woodwards, Vancouver, Canada" 300 400 %}
      </header>
      {% block main_article %}
			{% blocktrans %}
				Welcome to the SFPIRG homepage. This site is under development.
			{% endblocktrans %}
			{% endblock %}
      </div>
    </article>
  </article>
</article>
</section>
{% endblock %}

