{% extends "site_base.html" %}

{% load i18n %}
{% load slideshow %}
{% load easy_maps_tags %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block content_class %}home{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}verbena/css/index.css" />
{% endblock %}

{% block main_content %}
{% slideshow "frontpage" %}
<section>
<article class="content_post">
  <header id="intro">
    <h1>{% block intro_title %}Home{% endblock %}</h1>
  </header>
  <article class="content_back">
    <article class="content_dot">
      <div>
      <header>
      </header>
      {% block main_article %}
			{% blocktrans %}
				Welcome to the SFPIRG homepage. This site is under development.
			{% endblocktrans %}
			{% endblock %}
      </div>
    </article>
  </article>
</article>
</section>
{% endblock %}

