/*------------------------------
=CONTENT AREA - ABOUT
------------------------------*/

header#backBanner {
	margin: 0 auto;
	background: #797D17;
	width: 1089px;
	height: 120px;
	padding: 5px;
}

header#intro {
	padding: 20px 10px;
	margin-top: 10px;
}

#subBanner {
	background: #000000;
	color: white;
}

.sign_in a, a:visited {
	color: #fefefe;
}

h1 {
	font-size: 20px;
	text-align: center;
	padding: 15px 10px;
	color: #fff;
	background: #000000;
	border: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

h2 {
	font-size: 18px;
	padding: 15px 0;
	color: #ffffff;
	background: #000000;
	border: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	text-align: center;
}

h3 {
	font-size: 20px;
	padding: 3px 0;
	margin: 10px 20px;
	color: #fff;
	background: #000000;
	border: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.sign_in {
	font-size: 10px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #000000;
	border-radius: 20px;
	width: 160px;
	height: 134px;
	float: left;
}

.title{
		font-size: 14px;
		padding: 8px 30px;
		margin: 10px 20px;
		color: #fff;
		background: #000000;
		height: 25px;
		border: none;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}

nav ul li {
	color: #8a8a8a;
}

#site_nav ul li a, a:hover, a:active {
	color: #999999;
}

#main_navsub ul li a, a:hover, a:active {
	color: #999999;
}

#about-us .content_dot {
	overflow: hidden;
	width: 669px;
	margin-left: 5em;
}

#about-us {
	width: 660px;
}

#main_content article > article > div {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.about_back {
	margin-left: 50px;
	display: block;
	background: repeat scroll 0 0 #ffffff;
	color: black;
	border-radius: 50px / 30px;
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
}

.about_dot {
	padding: 15px;
	display: block;
	background: repeat scroll 0 0;
	border: 2px dashed #666666;
	border-radius: 22px;
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	overflow: hidden;
}

