/*------------------------------
=CONTENT AREA - ACTION GROUPS
------------------------------*/

header#backBanner {
	margin: 0 auto;
	height: 92px;
	padding: 5px;
}

#subBanner {
	background: #26AAE1;
	color: #ffffff;
}

header#intro {
	padding: 20px 10px;
	margin-top: 10px;
}

h1 {
	font-size: 20px;
	text-align: center;
	padding: 15px 10px;
	color: #fff;
	background: #26AAE1;
	border: none;
}

h2 {
	font-size: 18px;
	padding: 15px 0;
	color: #ffffff;
	background: #26AAE1;
	border: none;
	text-align: center;
}

h3 {
	font-size: 20px;
	padding: 3px 0;
	margin: 10px 20px;
	color: #fff;
	background: #26AAE1;
	border: none;
}

.sign_in {
	font-size: 10px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #26AAE1;
	height: 134px;
	float: left;
}

.title {
		font-size: 14px;
		padding: 0;
		margin: 0;
		color: #fff;
		background: #26AAE1;
		height: 25px;
		border: none;
	}

.ag_post .act_avatar {
	float: center;
}

.action-group {
	padding: 1em;
	margin-left: 1em;
	float: left;
}

.action-group h1 {
	padding: 1em;
}

.content_dot {
	overflow: hidden;
}
