.chunk-wrapper {
  width: 100%;
  overflow:hidden;
  zoom:1;
  padding: 20px 10px;
}
.chunkbox-container {
  width: 490px;
  float: left;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
  background-color: #fefefe;
}

.chunkbox {
  width: 490px;
  float: left;
  border-radius: 22px;
  border-radius: 22px;
  border: 2px dashed #666666;
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
}

.chunkbox p {
  font-size: 1.0em;
  padding: 15px;
  margin: 2px;
}

.chunk-imagebox {
  width: 100px;
  float: right;
  padding-right: 20px;
}

.chunk-imagebox img {
  float: right;
  width: 90px;
  height: 90px;
  margin: 0;
  padding: 0;
}


/* Individual chunks:*/

/* CHUNKS -- General */
.chunkbox-container {
	margin: 10px 10px;
	padding: 10px 10px;
	height: 120px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background-color: #0f0f0f;
}

/* surrounds the chunkbox */
.chunkbox-container p {
	padding: 5px 5px;
	margin: 5px 5px;
}

/*contains description text */
.chunkbox {
	width: 540px;
	background-color: #dddddd;
	float: left;
}

.chunk-imagebox {
	background-color: #345345;
	margin: 5px 5px;
	padding: 5px 5px;
	width: 75px;
	height: 75px;
	float: right;
}

.chunk-imagebox img {
	border: none;
	margin: 5px 5px;
	width: 75px;
	height: 75px;
}

/* Column CHUNKBOX -- a vertical chunkbox */
.colchunk-container {
	width: 150px;
}

.colchunk-imagebox {
	background-color: #345345;
	margin: 5px 5px;
	padding: 5px 5px;
	width: 75px;
	height: 75px;
	float: center;
}

.colchunk-imgbox img {
	border: none;
	margin: 5px 5px;
	width: 75px;
	height: 75px;
}
