/*------------------------------
=CONTENT AREA - INDEX
------------------------------*/

header#backBanner {
	margin: 0 auto;
	background-image: url('../img/banner_index.png');
	background-repeat: no-repeat;
	width: 1089px;
	height: 187px;
	padding: 5px;
}

header#intro {
	padding: 3px 0px;
	margin-top: 10px;
}

h1 {
	font-size: 28px;
	line-height: 44px;
	padding: 3px 0;
	background: #999999;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

h2 {
	font-size: 18px;
	line-height: 28px;
	margin: 0 0 20px 0;
	color: #ffffff;
	text-align: center;
	background: #999999;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 2px 0;
	color: #fefefe;
	background: #999999;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.sign_in {
	font-size: 10px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #999999;
	border-radius: 20px;
	width: 160px;
	height: 134px;
	float: left;
}

.title {
		font-size: 14px;
		padding: 8px 30px;
		margin: 10px 20px;
		color: #fff;
		background: #323232;
		height: 25px;
		border: none;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}

