/*------------------------------
=CONTENT AREA - INDEX
------------------------------*/

header#backBanner {
	margin: 0 auto;
	height: 92px;
	padding: 5px;
	background: #797D17;
}

header#subBanner {
	margin: 0 auto;
	padding: 5px;
	background: #990000;
	color: #ffffff;
}

#subBanner strong {
  color: #ffffff;
}

h1 {
	font-size: 20px;
	text-align: center;
	color: #fff;
	background: #999999;
	border: none;
}

h2 {
	font-size: 18px;
	padding: 15px 0;
	color: #ffffff;
	border: none;
	text-align: center;
	background: #999999;
}

h3 {
	font-size: 20px;
	padding: 3px 0;
	color: #fefefe;
	background: #999999;
	border: none;
	margin: 20px 10px;
}

.title {
		font-size: 14px;
		padding: 8px 30px;
		margin: 10px 20px;
		color: #fff;
		background: #323232;
		height: 25px;
		border: none;
	}

nav a, a:visited {
	color: #ffffff;
}

nav a:hover {
	color: #a0a0a0;
}
