/*------------------------------
=CONTENT AREA - GET INVOLVED
------------------------------*/

header#backBanner {
	margin: 0 auto;
	background-image: url('../img/banner_get_involved.png');
	background-repeat: no-repeat;
	width: 1089px;
	height: 187px;
	padding: 5px;
}

header#intro {
	padding: 20px 10px;
	margin-top: 10px;
}

h1 {
	font-size: 20px;
	text-align: center;
	padding: 15px 10px;
	color: #fff;
	background: #A1228B;
	border: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

h2 {
	font-size: 18px;
	padding: 15px 0;
	color: #ffffff;
	background: #A1228B;
	border: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-align: center;
}

h3 {
	font-size: 20px;
	padding: 3px 0;
	margin: 10px 20px;
	color: #fff;
	background: #A1228B;
	border: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.signBox {
	font-size: 14px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #A1228B;
	border-radius: 20px;
	width: 160px;
	height: 134px;
	float: left;
}

.title {
		font-size: 14px;
		padding: 8px 30px;
		margin: 10px 20px;
		color: #fff;
		background: #A1228B;
		height: 25px;
		border: none;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}
