/*----------------------------------
=CONTENT AREA - RESEARCH & RESOURCES
-----------------------------------*/

header#backBanner {
	margin: 0 auto;
	background-image: url('../img/banner_research_resources.png');
	background-repeat: no-repeat;
	width: 1089px;
	height: 187px;
	padding: 5px;
}

header#intro{
	padding: 20px 10px;
	margin-top: 10px;
}

h1 {
	font-size: 20px;
	text-align: center;
	padding: 15px 10px;
	color: #fff;
	background: #FFCA03;
	border: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

h2 {
	font-size: 18px;
	padding: 15px 0;
	color: #ffffff;
	background: #FFCA03;
	border: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-align: center;
}

h3 {
	font-size: 20px;
	padding: 3px 0;
	margin: 10px 20px;
	color: #fff;
	background: #FFCA03;
	border: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.sign_in {
	font-size: 10px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #FFCA03;
	border-radius: 20px;
	width: 160px;
	height: 134px;
	float: left;
}

.title {
		font-size: 14px;
		padding: 8px 30px;
		margin: 10px 20px;
		color: #fff;
		background: #FFCA03;
		height: 25px;
		border: none;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}

.resourcesidebar {
	float: right;
	width: 15em;
	margin: 3.5em;
}

.resourcelist {
	float: left;
	width: 68%;
}

.resourcelist li {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

#chunk-resourceheader {
	width: 60%;
	float: left;
}

.resource {
	width: 15em;
	padding: 1em;
	margin: 1em;
	margin-left: 1em;
	float: left;
}

.resource_back {
	width: 700px;
	margin-left: 50px;
	display: block;
	background: repeat scroll 0 0 #ffffff;
	color: black;
	border-radius: 50px / 30px;
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
}

.resource_dot {
	padding: 15px;
	display: block;
	background: repeat scroll 0 0;
	border: 2px dashed #666666;
	border-radius: 22px;
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	overflow: hidden;
}

