/*------------------------------
 * Semantic Additions
------------------------------*/
/* logo width, height -- dynamic for mobile TODO */


/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
/* NOT NEEDED? */
/* * {
	margin: 0;
	padding: 0;
}*/

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 1088px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background-image: url('../img/paper_background.png');
}

h1 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h2 {
	width: 669px;
	height: 147px;
	font-size: 20px;
	line-height: 28px;
	padding: 20px 0;
	color: #ffffff;
	text-align: center;
	background-image: url('../img/back_intro.png');
	background-repeat: no-repeat;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding: 30px;
	margin-left: 50px;
	background-image: url('../img/back_content.png');
	background-repeat: no-repeat;
	width: 470px;
	height: 358px;
}

.sign_in {
	width: 164px;
	float: left;
}

.contact_box {
	float: right;
	width: 145px;
	height: 147px;
	background-image: url('../img/contact_box.png');
}


/*------------------------------
=NAVIGATION
------------------------------*/

#site_nav nav {
	width: 694px;
	height: 143px;
	margin: 0px 210px;
	background-image: url('../img/back_nav.png');
	background-position: top center;
	padding-top: 10px;
}

#site_nav nav ul {
	margin: 30px auto;
	width: 694px;
	list-style: none;
}

#site_nav nav ul li {
	float: left;
}

#site_nav nav ul li a {
	display: block;
	margin: 0 18px;
	width: 100px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
}

#site_nav #main_navsub {
	height: 40px;
	background-image: url('../img/back_nav.png');
}

nav ul li a:hover {
	color: #fff;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
	width: 1088px;
}

#main_content {
	display: table-cell;
	width: 620px;
	padding-right: 22px;
}
	
aside {
	display: table-cell;
	width: 170px;
	/*background: url("images/sidebar_background.png") top left;*/
}

.calendar {
	float: left;
	background-image: url("../img/calendar.png") top left;
}

.left_box {
	background: none repeat scroll 0 0 #B1AAA2;
	border-radius: 11px;
	padding: 21px;
	width: 164px;
}

/*------------------------------
=CONTENT POST
------------------------------*/
.title {
	font-size: 14px;
	padding: 8px 30px;
	margin: 10px 20px;
	color: #fff;
	background: #323232;
	width: 450px;
	height: 25px;
	border: 1px solid #323232;
	-moz-border-radius: 20px;
	-webkit-border-radius: 11px;
}
	
.contentPost header p a:hover {
	text-decoration: none;
	color: #000;
}

.contentPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

/*------------------------------
=SIDEBAR
------------------------------*/
.content_back {
	padding: 10px;
	margin-left: 50px;
	display: block;
	background: repeat scroll 0 0 #ffffff;
	color: black;
	border-radius: 20px;
	-moz-transform: rotate(2deg);
}

.content_dot {
	padding: 15px;
	display: block;
	background: repeat scroll 0 0;
	border: 2px dashed #666666;
	border-radius: 50px;
	-moz-transform: rotate(-6deg);
}

aside section {
	padding: 0;
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

aside section ul {
	list-style: none;
}
	
aside section ul li a {
	display: block;
	text-decoration: none;
	color: #000;
}
		
aside section ul li a:hover {
	text-decoration: underline;
}

/*-------------------------------
 * Nav
--------------------------------*/

#nav_about {
	width: 57px;
	height: 81px;
	border: 0px;
}

#nav_involved {
	width: 76px;
	height: 79px;
	border: 0px;
}

#nav_action {
	width: 112px;
	height: 85px;
	border: 0px;
}

#nav_research {
	width: 98px;
	height: 99px;
	border: 0px;
}

#nav_arx {
	width: 53px;
	height: 80px;
	border: 0px;
}
