/*------------------------------
 * Semantic Additions
------------------------------*/
/* logo width, height -- dynamic for mobile TODO */


/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
/* NOT NEEDED? */
/*
 * {
	margin: 0;
	padding: 0;
}*/

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 1088px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background-image: url('../img/paper_background.png');
}

a, a:visited {
	color: #010101;
}

footer {
	float: bottom;
	clear: both;
}

h1 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h2 {
	width: 650px;
	height: 147px;
	font-size: 18px;
	line-height: 28px;
	padding: 20px 0;
	color: #ffffff;
	text-align: center;
	background-image: url('../img/back_intro.png');
	background-repeat: no-repeat;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin: 20px 0 15px 0;
}

#disp_username {
	font-size: 15px;
}

/* SEARCH */
.search {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: .5em;
	height: 2.5em;
}

input[type="search"] {
	border-radius: 20px;
	height: 2em;
}

.sign_in {
	font-size: 10px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #605D56;
	border-radius: 20px;
	width: 160px;
	height: 134px;
	float: left;
}

.login .textinput .textInput {
	width: 50px;
}

.contact_box {
	text-align: center;
	color: #999999;
	float: right;
	width: 145px;
	height: 147px;
	background: repeat scroll 0 0 #ffffff;
	border-radius: 15px;
	-moz-transform: rotate(8deg);
	-webkit-transform: rotate(8deg);
}

.contact_dot {
	width: 145px;
	height: 147px;
	display: block;
	background: repeat scroll 0 0;
	border: 2px dashed #666666;
	border-radius: 20px;
	-moz-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
}

.contact_dot aside {
	-moz-transform: rotate(8deg);
	-webkit-transform: rotate(8deg);
}
	

/*------------------------------
=NAVIGATION
------------------------------*/

#site_nav {
	position: absolute;
	width: 694px;
	height: 143px;
	margin: 0px 210px;
	background-image: url('../img/back_nav.png');
	background-position: top center;
}

#site_nav ul {
	margin: 30px auto;
	width: 694px;
	list-style: none;
}

#main_navsub {
	margin: 0px 210px;
	position: absolute;
	top: 26em;
}

#main_navsub ul {
	margin: 30px auto;
	width: 694px;
	list-style: none;
}

nav ul li {
	font-family: arial;
	float: left;
	color: #999999;
}

nav ul li a {
	color: #999999;
	display: block;
	margin: 0 18px;
	width: 100px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	letter-spacing: -1px;
}

nav ul li a:hover {
	color: #000;
}

nav ul li img {
	padding: 0 20px;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#intro {
	padding: 20px 10px;
	margin-top: 10px;
}
	
aside {
	display: table-cell;
	width: 200px;
	float: left;
}

#calendar {
	float: left;
	background-image: url("../img/calendar.png") top left;
	padding: 20px 0;
}

.left_box {
	background: none repeat scroll 0 0 #B1AAA2;
	border-radius: 11px;
	padding: 21px;
	width: 164px;
}

.latest_news {
	font-size: 14px;
	color: #fff;
	padding: 10px;
	background-color: #999999;
	border-radius: 20px;
	width: 160px;
	float: left;
}

/*------------------------------
=CONTENT POST
------------------------------*/
.title {
	font-size: 14px;
	padding: 8px 30px;
	margin: 10px 20px;
	color: #fff;
	background: #323232;
	width: 450px;
	height: 25px;
	border: 1px solid #323232;
	-moz-border-radius: 20px;
	-webkit-border-radius: 11px;
}
	
.content_post header p a:hover {
	text-decoration: none;
	color: #000;
	width: 669px;
}

.ag_post .act_avatar {
	float: center;

}
.ag_post .content_back {
	width: 180px;
	margin-left: 10px;
}

.ag_post .content_dot {
	width: 180px
}

h3#articleTitle {
	font-family: verdana;
	color: #CC0000;
	font-size: 12px;
	line-height: 12px;
}

.content_post img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

article {
	font-family: verdana;
	color: #666666;
	font-size: 10px;
	line-height: 14px;
	margin-bottom: 10px;
}

hr {
	border-width: 1px;
	border-style:dashed;
	border-color:#ffffff;
}

.uniForm .login form {
	width: 150px;
}

.login .ctrlHolder {
	width: 150;
}

/*------------------------------
=CONTENT AREA
------------------------------*/

#content {
	float: left;
	display: table;
	width: 890px;
}

#main_content {
	float: right;
	display: table-cell;
	width: 620px;
	padding-top: 5em;
}

.login_box p {
	height: 0.9em;
}

form.signup input[type="submit"], form.login input[type="submit"] {
	margin: 0;
	font-size: 0.9em;
}

#id_username {
	width: 110px;
	height: 1em;
}

#id_password {
	width: 110px;
	height: 1em;
}

#loginform fieldset {
	height: 180px;
}

.content_post {
		width: 669px;
}

.content_back {
	margin-left: 50px;
	display: block;
	background: repeat scroll 0 0 #ffffff;
	color: black;
	border-radius: 50px / 30px;
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
}

.content_dot {
	padding: 15px;
	display: block;
	background: repeat scroll 0 0;
	border: 2px dashed #666666;
	border-radius: 22px;
	-moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
}

article > article > article > div {
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
}

.ctrlHolder p {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	margin: 30px;
}

.content_dot form {
	margin: 30px;
}

aside section {
	padding: 0;
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

.title {
		font-size: 14px;
		padding: 8px 30px;
		margin: 10px 20px;
		color: #fff;
		background: #323232;
		height: 25px;
		border: none;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}

.chunkbox {
	width: 540px;
	margin: 10px 10px;
	height: 120px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background-color: #0f0f0f;
}

.chunkbox p {
	padding: 5px 5px;
	margin: 5px 5px;
}

.chunk-contentbox {
	width: 540px;
	float: left;
}

.chunk-imagebox {
	background-color: #345345;
	margin: 5px 5px;
	padding: 5px 5px;
	width: 75px;
	height: 75px;
	float: right;
}

.chunk-imagebox img {
	border: none;
	margin: 5px 5px;
	width: 75px;
	height: 75px;
}
