/*------------------------------
 * Semantic Additions
------------------------------*/
/* logo width, height -- dynamic for mobile TODO */


/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
/* NOT NEEDED? */
/* * {
	margin: 0;
	padding: 0;
}*/

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 1088px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background-image: url('../img/paper_background.png');
}

h1 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h2 {
	width: 650px;
	height: 147px;
	font-size: 18px;
	line-height: 28px;
	padding: 20px 0;
	color: #ffffff;
	text-align: center;
	background-image: url('../img/back_intro.png');
	background-repeat: no-repeat;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin: 20px 0 15px 0;
}

.sign_in {
	font-size: 14px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #605D56;
	border-radius: 20px;
	width: 160px;
	height: 134px;
	float: left;
}

.contact_box {
	text-align: center;
	color: #999999;
	float: right;
	width: 145px;
	height: 147px;
	background: repeat scroll 0 0 #ffffff;
	border-radius: 15px;
	-moz-transform: rotate(8deg);
	-webkit-transform: rotate(8deg);
}

.contact_dot {
	width: 145px;
	height: 147px;
	display: block;
	background: repeat scroll 0 0;
	border: 2px dashed #666666;
	border-radius: 20px;
	-moz-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
}

/*------------------------------
=NAVIGATION
------------------------------*/

#site_nav nav {
	width: 694px;
	height: 143px;
	margin: 0px 210px;
	background-image: url('../img/back_nav.png');
	background-position: top center;
}

#site_nav nav ul {
	margin: 30px auto;
	width: 694px;
	list-style: none;
}

#site_nav nav ul li {
	font-family: arial;
	float: left;
	color: #999999;
}

#site_nav nav ul li a {
	display: block;
	margin: 0 18px;
	width: 100px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	letter-spacing: -1px;
}

#site_nav #main_navsub {
	height: 40px;
	background-image: url('../img/back_nav.png');
}

nav ul li a:hover {
	color: #000;
}

nav ul li img {
	padding: 0 20px;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
	width: 1088px;
}

#main_content {
	display: table-cell;
	width: 620px;
	padding-right: 22px;
}
	
aside {
	display: table-cell;
	width: 170px;
}

.calendar {
	float: left;
	background-image: url("../img/calendar.png") top left;
}

.left_box {
	background: none repeat scroll 0 0 #B1AAA2;
	border-radius: 11px;
	padding: 21px;
	width: 164px;
}

.latest_news {
	font-size: 14px;
	color: #fff;
	padding: 10px;
	background-color: #999999;
	border-radius: 20px;
	width: 160px;
	float: left;
}

/*------------------------------
=CONTENT POST
------------------------------*/
.title {
	font-size: 14px;
	padding: 8px 30px;
	margin: 10px 20px;
	color: #fff;
	background: #323232;
	width: 450px;
	height: 25px;
	border: 1px solid #323232;
	-moz-border-radius: 20px;
	-webkit-border-radius: 11px;
}
	
.content_post header p a:hover {
	text-decoration: none;
	color: #000;

h3#articleTitle {
	font-family: verdana;
	color: #CC0000;
	font-size: 12px;
	line-height: 12px;
}

.content_post img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}
article {
	font-family: verdana;
	color: #666666;
	font-size: 10px;
	line-height: 14px;
	margin-bottom: 10px;
}

hr {
	border-width: 1px;
	border-style:dashed;
	border-color:#ffffff;
}

/*------------------------------
=CONTENT AREA
------------------------------*/
.content_back {
	padding: 10px;
	margin-left: 50px;
	display: block;
	background: repeat scroll 0 0 #ffffff;
	color: black;
	border-radius: 50px / 30px;
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	margin: 30px;
}

.content_dot {
	padding: 15px;
	display: block;
	background: repeat scroll 0 0;
	border: 2px dashed #666666;
	border-radius: 22px;
	-moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
}

article .content_dot p,h1,h2,h3,h4,h5,form {
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	margin: 30px;
}

aside section {
	padding: 0;
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

.title {
		font-size: 14px;
		padding: 8px 30px;
		margin: 10px 20px;
		color: #fff;
		background: #323232;
		height: 25px;
		border: none;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}