.sb_hidden {
	display: none;
}

#map_canvas {
	width: 500px;
	height: 500px;
	display: block;
}

.container_16 {
	background: #F6F6F6;
}

#site_nav ul {
	list-style: none;
}

#site_nav li {
	display: inline;
}

#main_navsub li {
	display: inline;
}

#backBanner {
	background: #797D17;
}




