html, body {
	font: 13px/1.3 'Open Sans', Arial, sans-serif;
	background: #FAFAFA;
}

.sb_hidden {
	display: none;
}

#map_canvas {
	width: 500px;
	height: 500px;
	display: block;
}

.container_16 {
	background: #FFFFFF;
	border: 1px #797D17 solid;
	background-image: url("../img/container_bg.png");
	background-position: top;
	background-repeat: repeat-x;
}

#main_nav {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#main_navsub {
	text-align: center;
	margin-bottom: 2em;
}

#main_nav ul {
	list-style: none;
	margin: 1em 0;
}

#main_navsub ul {
	list-style: none;
	margin: 1em 0;
}

#main_nav li {
	display: inline;
}

#main_navsub li {
	display: inline;
}

#social-logos {
	width: 75px;
	height: 35px;
	margin-top: 55px;
	float: right;
}

header a, a:visited {
	color: #ffffff;
}

#main_nav a, a:visited {
	color: #ffffff;
}

#main_navsub a, a:visited {
	color: #ffffff;
}

#main_nav a:hover {
	color: #a0a0a0;
}

#main_navsub a:hover {
	color: #a0a0a0;
}

header a:hover {
	color: #a0a0a0;
}

.latest_news {
	margin-top: 2em;
}

.latest_news a, a:visited {
	color: #797D17;
}

.latest_news a:hover {
	color: #797a1a;
}

#content-body {
	margin-top: 2em;
}

.sign_in input {
	width: 150px;
}

.calendar img {
	width: 150px;
}
