.sb_hidden {
	display: none;
}

#map_canvas {
	width: 500px;
	height: 500px;
	display: block;
}

.container_16 {
	background: #F6F6F6;
}

#main_nav {
	text-align: center;
}

#main_navsub {
	text-align: center;
}

#main_nav ul {
	list-style: none;
	margin: 1em 0;
}

#main_navsub ul {
	list-style: none;
	margin: 1em 0;
}

#main_nav li {
	display: inline;
}

#main_navsub li {
	display: inline;
}

#backBanner {
	background: #797D17;
}




