{% extends "flatpages/default.html" %}

{% load i18n %}

{% block section_style %}
	<link rel="stylesheet" href="{{ STATIC_URL }}verbena/css/about.css" />
{% endblock %}

{% block main_navsub %}
	<ul>
		<li><a href="{% url about-us %}">{% trans "About Us" %}</a></li>
		<li><a href="{% url about-staff %}">{% trans "Our Staff" %}</a></li>
		<li><a href="{% url about-board %}">{% trans "SFPIRG Board of Directors" %}</a></li>
		<li><a href="{% url about-site %}">{% trans "About this website" %}</a></li>
	</ul>
{% endblock %}
