{% extends "verbena/arx/arx_base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}
	Edit {{ object.name }}
{% endblock %}

{% if object.name %}
{% block content_title %}
	{{ object.name }}
{% endblock %}
{% endif %}

{% block main_article %}
	{% if perms.verbena.add_event %}
		<form action="" method="post" class="uniForm">
		{% csrf_token %}
		{{ form|as_uni_form }}
			<input type="submit" value="submit" />
			{% if object.slug %}
				<a href="{% url org_view object.slug %}">{% trans "Cancel Edits" %}</a>
			{% endif %}
		</form>
	{% else %}
		{% trans "Sorry, you do not have permission to add an Event" %}
	{% endif %}
{% endblock %}

{% block extra_body %}
	<script type="text/javascript" 
	src="{{ STATIC_URL	}}admin/js/urlify.js"></script>
	<script type="text/javascript">
		document.getElementById("id_title").onkeyup = function () {
			var e = document.getElementById("id_slug");
			if (!e._changed) { 
				e.value =	URLify(document.getElementById("id_title").value, 75); 
			}
		}
	</script>
{% endblock %}
