.sb_hidden {
	display: none;
}

#map_canvas {
	width: 500px;
	height: 500px;
	display: block;
}

nav #nav_header {
	position: absolute;
	width: 649px;
	height: 143px;
	margin: 0px 210px;
	background-image: url("../img/back_nav.png")
	background-position: top center;
}
