{% extends "site_base.html" %}
{% block head_title %}
	{{ object.name }}
{% endblock %}
{% block body %}
	<h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
	<dl>
		<dt>name:</dt><dd>{{ object.name }}</dd>
		<dt>location:</dt><dd>{{ object.location }}</dd>
		<dt>about:</dt><dd>{{ object.about }}</dd>
		<dt>url:</dt><dd><a href="{{object.website}}">{{ object.website }}</a></dd>
		<dt>Workshops</dt><dd>{{ object.workshops }}</dd>
	</dl>
	{% if request.user.is_authenticated %}
		{% if perms.verbena.change_organization %}
			<a href="{{ object.get_absolute_url }}/edit">Edit Organization</a>
		{% endif %}
	{% endif %}
	<a href="{% url org_home %}">Back to organizations</a>
{% endblock %}
