{% extends "verbena/proj_base.html" %}
{% load i18n %}
{% block head_title %}
	{{ object.name }}
{% endblock %}
{% block body %}
	<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
	<dl>
		<dt>title:</dt><dd>{{ object.title }}</dd>
	</dl>
	{% if request.user.is_authenticated %}
		{% if perms.verbena.change_grant %}
			<a href="{{ object.get_absolute_url }}/edit">Edit Project</a>
		{% endif %}
	{% endif %}
	<a href="{% url project_home %}">Back to Projects</a>
{% endblock %}
